{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "classes": true,
    "forOf": false,
    "es6": true,
    "blockBindings": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "always", { "arraysInArrays": true, "objectsInArrays": true }],
    "block-spacing": "error",
    "brace-style": "error",
    "curly": "error",
    "comma-style": ["error", "last"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "always"],
    "func-call-spacing": ["error", "never"],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-console": 0,
    "indent": ["error", "tab"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "semi-spacing": ["error", {"before": false, "after": false}], 
    "space-before-function-paren": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "semi": 1,
    "space-before-blocks": ["error", { "functions": "always", "keywords": "always", "classes": "always" }],
    "space-in-parens": ["error", "never"], 
    "no-alert": 1,
    "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 0}],
    "no-whitespace-before-property": "error",
    "no-var": 1,
    "new-parens": "error",
    "max-len": ["error", 128],
    "padded-blocks": ["error", { "blocks": "never", "classes": "always" }],
    "prefer-const": "error",
    // "object-curly-newline": ["error", "always"],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": true }],
    "yoda": ["error", "never", { "exceptRange": true }]
  },
  "globals": {
    "__DEV__": true,
    "__PROD__": true,
    "$": true,
    "jQuery": true,
    "THREE": true,
    "PIXI": true,
    "app": true,
    "TimelineLite": false,
    "TimelineMax": false,
    "TweenLite": false,
    "TweenMax": false,
    "Back": false,
    "Bounce": false,
    "Circ": false,
    "Cubic": false,
    "Ease": false,
    "EaseLookup": false,
    "Elastic": false,
    "Expo": false,
    "Linear": false,
    "Power0": false,
    "Power1": false,
    "Power2": false,
    "Power3": false,
    "Power4": false,
    "Quad": false,
    "Quart": false,
    "RoughEase": false,
    "Sine": false,
    "Quint": false,
    "SlowMo": false,
    "SteppedEase": false,
    "Strong": false,
    "Draggable": false,
    "SplitText": false,
    "VelocityTracker": false,
    "CSSPlugin": false,
    "ThrowPropsPlugin": false,
    "BezierPlugin": false
  }
}